.cell-action {
    font-size: 13px;
    opacity: 0;
}

#table-default tr:hover .cell-action {
    opacity: 1;
}

.cell-action a:not(:last-child):after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: #ccc;
    top: 4px;
    right: 5px;
}

.cell-action a {
    position: relative;
    padding-right: 10px;
}

.image-post-box {
    width: 100%;
    height: auto;
    border: 1px dashed #ccc;
    border-radius: 4px;
    position: relative;
    min-height: 120px;
    max-height: 180px;
    overflow: hidden;
}

.image-post-box input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.image-box {
    width: 100%;
    height: auto;
    border: 1px dashed #ccc;
    border-radius: 4px;
    position: relative;
    min-height: 120px;
    max-height: 180px;
    overflow: hidden;
    max-width: 190px;
}

.image-box input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.ts-wrapper.multi .ts-control [data-value] {
    background-image: none;
    text-shadow: none;
}

.ts-wrapper.multi .ts-control > div {
    background: none;
    color: #333;
    border: 1px solid #ccc;
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item.active, .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item:active {
    background: rgb(102 115 130 / 20%) !important;
}

.card-vertical {
    min-height: 300px;
}

.grid-template-columns-1 {
    grid-template-columns: 1fr 1fr;
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.btn-choose-image .checked {
    display: none;
}

.btn-choose-image.select .checked {
    position: absolute;
    top: -8px;
    left: -8px;
    background: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--tblr-primary);
    z-index: 2;
}

.btn-choose-image.select {
    position: relative;
}
.btn-choose-image.select:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 5px solid var(--tblr-primary);
    z-index: 1;
}
.btn-choose-image.select .checked svg {
    margin: 0;
}
.image-libs img{
    height: 120px !important;
}
